<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Evan Krupa</title>
</head>
<body>
   <nav class="navbar">
  <div class="nav-container">
    <div class="logo">Evan Krupa</div>

    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'projects' %}">Projects</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
</nav>

    {% block content %}
    {% endblock %}
</body>
</html>