{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="contact-container">
    <h1>Contact Me</h1>
    <p>If you'd like to get in touch, feel free to reach out via email or connect on LinkedIn.</p>  

    <div class="contact-methods">
        <div class="contact-card">
            <h3>Email</h3>
            <p><a href="mailto:evanhkrupa@gmail.com">evanhkrupa [at] gmail [dot] com
</a></p>   

        </div>

        <div class="contact-card">
            <h3>LinkedIn</h3>
            <p><a href="https://www.linkedin.com/in/evankrupa/" target="_blank">linkedin.com/in/evankrupa/</a></p>

        </div>
    </div>
    {% endblock %}